@import '@radix-ui/colors/black-alpha.css';


button {
  all: unset;
}

.switch-container {
  transform: scale(0.7);
  transform-origin: top left;
}

.switch-yes-no {
  display: flex;
  align-items: center
}

.SwitchRoot {

  background-color: var(--black-a9);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot:focus {
  box-shadow: 0 0 0 2px black;
}
.SwitchRoot[data-state='checked'] {
  background-color: black;
}

.SwitchThumb {
  display: block;
  width: 17.5px;
  height: 17.5px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(px);
  will-change: transform;
}

.SwitchThumb[data-state='unchecked'] {
    transform: translateX(-10px);
  }
.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}

.Label {
  color: white;
  font-size: 1.2em;
  line-height: 1;
}