.container {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}


.calendar-container {
    display: flex;
    width: 250p;
    
}

.calendar {
    transform: scale(0.8)
}

.calendar-icon {
    display: flex;
    align-items: start;
    transform: scale(0.5)
}

.action-name-input {
    display: flex;
    font-size: 1.7em;
    text-align: start;
}

.switch-question {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    width: 350px;
    text-align: start;
    font-size: 1.3em;
}

.action-type {
    display: flex;
}


.buttons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 250px;
}