
.banner{
    background-image: url("src/assets/ecotech.jpg");
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

.banner p {
    margin-left: 2rem;
}

/* Efecto blur para la imagen de fondo */
.banner::before{
    content:'';
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    backdrop-filter: blur(3px);
}

.banner__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    /* alto total de la pantalla , menos el header, menos el footer */
    min-height: calc(100vh - 157px - 88px);
}

.banner__title {
    font-size:3em;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.banner__text {
    color: #ffffff;
    font-size: 1.5em;
}

.banner__link {
    display: inline-block; 
    font-size: medium;
    background-color: #ffffff;
    padding: 1.2rem 6.8rem;
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.table_container{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}