@import '@radix-ui/colors/mint.css';
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,800;1,400&display=swap');

.footer {
    display: flex;
    background-color: #201c20;
    color: #FFFFFF;
    width: 100vw;
    position: sticky;
    bottom: 0;
    z-index: 999;
    justify-content: space-around;
}

ul {
    list-style: none; 
    padding: 10px; 
    margin: 0; 
}

.footer-sec-column {
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.navbar__link {
    color: var(--mint-6);
    font-size: 1.1em;
    display: flex;
    transition: background-color 0.5s ease-in-out;
    position: relative;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
    border-radius: 20px
}

.navbar__link:hover {
    background: var(--mint-7);
    color:#FFFFFF
}

.navbar__link:not(:hover) {
    transition: background-color 0.3s ease-in-out;
    background: transparent;
  }