.btn_back {
    color: #000;
    text-decoration: none;
    background-color: #fecc8f;
    width: 45px;
    height: 15px;
    display: flex;
    margin-top: 1.5em;
    border-radius: 10px;
  }

  .btn_back a {
    text-decoration: none;
  }
  
  .btn_back:active a {
    color: inherit;
  }