@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,800;1,400&display=swap');

:root {
  color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(to bottom, #53b9ab, #46ab9a, #399e89, #2d9078, #208368);
  font-family: 'Rethink Sans', sans-serif;
}

div {
  font-family: 'Rethink Sans', sans-serif;
}